*#
*.a
*.i
*.o
*.scf
*~
TAGS
scheme-core/build/
scheme-core/compiler-debug.scm
scheme-core/vcsh
scheme-core/vcsh0
vm/fasl-dump
vm/scan-constants.scm
vm/scansh0
vm/to-c-source
*.profraw
.build-flags
coverage/
local.mk
