*#
*.a
*.exe
*.gcda
*.gcov
*.i
*.ilk
*.lib
*.o
*.obj
*.obj
*.pdb
*.scf
*.suo
*~
TAGS
build-settings
scheme-core/build/
scheme-core/compiler-debug.scm
scheme-core/vcsh
scheme-core/vcsh0
vm/fasl-dump
vm/scan-constants.scm
vm/scan-constants.scm
vm/scansh0
vm/to-c-source
