*.o
*.obj
*.a
*.lib
TAGS
*#
*~
*.exe
*.suo
*.scf
build-settings
*.i
vm/fasl-dump
vm/scansh0
util/show-retval
util/to-c-source
scheme-core/vcsh
scheme-core/compiler-run.cpp
scheme-core/fasl-compiler-run.cpp
scheme-core/fasl-compiler.cpp
scheme-core/scheme.cpp
*.gcda
*.gcov
*.pdb
*.ilk
*.obj
